body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(209, 216, 227, 1);
}

.window {
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    padding: 2rem 10px 2rem 10px;
    background-color: rgba(209, 216, 227, 1);
}

.upper-area {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 1),
        -9px -9px 16px rgba(255, 255, 255, 1);
    box-sizing: border-box;
    /* 要素の幅や高さをborderとする */
    border: solid 4px rgba(209, 216, 227, 1);
}

.logo-area {
    padding-right: 3rem;
    padding-left: 0.75rem;
    background-color: rgba(209, 216, 227, 1);
    overflow: hidden;
    border-top-right-radius: 3rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.logo-area:hover {
    cursor: default;
}

.dashboard-btn {
    background-color: rgba(209, 216, 227, 1);
    border-top-right-radius: 3rem;
    height: 80px;
}

.dashboard-btn>button {
    position: relative;
    width: 130px;
    height: 82px;
    background-color: rgba(209, 216, 227, 1);
    border: none;
}

.dashboard-btn>button>svg {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.dashboard-btn>button:hover {
    cursor: pointer;
}

.home-btn {
    background-color: rgba(209, 216, 227, 1);
    border-top-right-radius: 3rem;
    height: 80px;
}

.home-btn>button {
    position: relative;
    width: 130px;
    height: 82px;
    background-color: rgba(209, 216, 227, 1);
    border: none;
}

.home-btn>button>svg {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.home-btn>button:hover {
    cursor: pointer;
}

.login-btn {
    background-color: rgba(209, 216, 227, 1);
    border-top-right-radius: 3rem;
    height: 80px;
}

.login-btn>button {
    position: relative;
    width: 130px;
    height: 82px;
    background-color: rgba(209, 216, 227, 1);
    border: none;
}

.login-btn>button>svg {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}

.login-btn>button:hover {
    cursor: pointer;
}

.main-area {
    background-color: rgba(209, 216, 227, 1);
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 1),
        -9px -9px 16px rgba(255, 255, 255, 1);
    border-radius: 1rem;
    height: 790px;
    margin-top: 3rem;
}

.main-1st {
    padding: 25px;
}

.main-1st>.site-title {
    color: rgba(74, 85, 104, 1);
    font-size: 30px;
    line-height: 7rem;
    font-weight: bold;
    margin-left: 0.8rem;
}

.sub-txt {
    color: rgba(113, 128, 150, 1);
    font-size: 20px;
    margin-top: 0.3rem;
    margin-left: 1rem;
}

.info-txt {
    color: rgba(113, 128, 150, 1);
    font-size: 16px;
    margin-top: 0.6rem;
    margin-left: 1rem;
    line-height: 1.8rem;
}

.main-2nd {
    margin: 2.7rem;
}

.main-2nd>.link {
    display: flex;
    align-items: center;
}

.main-2nd>.link>.link-txt {
    margin-left: 1rem;
    color: rgba(74, 85, 104, 1);
    font-size: 20px;
    font-weight: bold;
}

.main-2nd>.link>.link-txt:hover {
    cursor: pointer;
    color: rgba(113, 128, 150, 1);
}

.main-2nd>.link>.svg-icon {
    width: 28px;
    height: 28px;
    stroke: rgba(6, 182, 212, 1);
}

.caution {
    margin: 20px 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 38px;
    color: rgb(220, 100, 100);
}

.caution>a {
    text-decoration: underline;
    cursor: pointer;
}

.caution>a:hover {
    color: rgb(180, 80, 80);
}

/* for iPhone 6s, X */
@media (min-width: 375px) {
    .main-area {
        height: 800px;
    }

    .login-btn>.btn {
        font-size: 18px;
    }

    .home-btn>.btn {
        font-size: 18px;
    }

    .dummy-btn-1>.btn {
        font-size: 20px;
    }

    .dummy-btn-2>.btn {
        font-size: 24px;
    }
}


/* for iPhone ProMax */
@media (min-width: 414px) {
    .main-area {
        height: 720px;
    }

    .main-1st>.site-title {
        font-size: 34px;
        margin-left: 1rem;
    }
}

/* for PC */
@media (min-width: 680px) {
    .main-area {
        height: 630px;
    }

    .main-1st>.site-title {
        font-size: 42px;
        margin-left: 3rem;
    }

    .home-btn>.btn {
        padding: 27px 25px 26px 25px;
    }

    .login-btn>.btn {
        padding: 26px 15px 26px 15px;
    }

    .dummy-btn-1>.btn {
        font-size: 20px;
    }

    .dummy-btn-2>.btn {
        font-size: 25px;
    }

    .sub-txt {
        margin-left: 3rem;
    }

    .info-txt {
        margin-left: 3rem;
    }

    .caution {
        margin: 20px 60px;
        font-size: 2rem;
        line-height: 50px;
    }
}